<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="/assets/conversion_path.svg" />
  <span>Unit Converter</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div>Looking for PX &#8644; REM converter !</div>

  <div>Select your Pixel size</div>

  <mat-form-field class="example-form-field">
    <mat-label>Base</mat-label>
    <input matInput type="number" (change)="onBaseChange($event)" (keyup)="onBaseChange($event)" [(ngModel)]="base">
    <button *ngIf="base" matSuffix mat-icon-button aria-label="Clear" (click)="base=16">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div>
    <mat-form-field class="example-form-field">
      <mat-label>PX</mat-label>
      <input matInput type="number" (change)="onPXChange($event)" (keyup)="onPXChange($event)" [(ngModel)]="pxValue">
      <button *ngIf="pxValue" matSuffix mat-icon-button aria-label="Clear" (click)="pxValue=20">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <img width="40" alt="Angular Logo" src="/assets/sync_alt.svg" />

    <mat-form-field class="example-form-field">
      <mat-label>REM</mat-label>
      <input matInput type="number" (change)="onREMChange($event)" (keyup)="onREMChange($event)" [(ngModel)]="remValue">
      <button *ngIf="remValue" matSuffix mat-icon-button aria-label="Clear" (click)="remValue=1.25">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

</div>